{% load static %}
{% include 'analysis_page/layout.html' %}

<h1>Animation</h1>
<p>Some description.</p>
<hr>

<div class="timeseries-plot">
    <h3>Some text</h3>
    <span>
        Animacja - Spatial Binning dla wszystkich cykli <br>
        plotly.express?
    </span>

   <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country">Country</label>
                <select id="country" name="country" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable">Variable</label>
                <select id="variable" name="variable" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-1" value="Submit">
        </form>
    </div>

    <p><strong>Selected country:</strong></p>
    {% if chosen_country %}
        <p>{{ chosen_country.name }}</p>
    {% endif %}

    <p><strong>Selected variable:</strong></p>
    {% if chosen_var %}
        <p>{{ chosen_var }}</p>
    {% endif %}


    <div class="plot">
        {% if animation_gif %}
            <img src="{% static 'images/animation.gif' %}">
        {% endif %}
    </div>
</div>


</div>
</div>
</body>
