{% include 'analysis_page/layout.html' %}

<script>
const v = document.getElementById('clustering');
v.style.fontWeight = 550;
</script>

<h1>Cluster Analysis</h1>
<p>Some description of the tab.</p>
<hr>


<div class="timeseries-plot">
    <h3>globalna - podzial na strefy klimatyczne <br>lokalna - podział na mikroklimaty w danym kraju</h3>
    <span>Sprawdza się temperaturę i opady atmosferyczne</span>
    <br>
    <span>
        6. Podział na strefy klimatyczne - GLOBALNE
        i pokazanie że wykresy timeseries różnią się dla tych
        różnych stref klimatycznych
        z innymi kolorami i pokazaniem srednich
            WYBÓR ZMIENNEJ
    </span>
</div>

<div class="timeseries-plot">
    <h3>Some text.</h3>
    <span>
        7. Dla danej strefy klimatycznej
        np gdzieś gdzie jest pustynia
        pokazać że np regiony pustynne w Afryce mają największy wpływ
        na średnią temperaturę całej strefy
        że ciągną ją mocno do góry

        To samo dla arktyki
    </span>
</div>

<div class="timeseries-plot">
    <h3>Some text.</h3>
    <span>
        8. Jakaś klasteryzacja zmiennych i pokazanie, że
        to jak wartości zmiennych się grupują odpowiada np.
        podziałowi na strefy klimatyczne
        albo inne mniejsze regiony na terenie kraju
        Dwie mapki koło siebie z kolorowanymi strefami, regionami
        a pod spodem timeseries
        żeby unaocznić różniące się mikroklimaty


        Może wybrać kraj, gdzie są regiony o różnym klimacie, żeby
        było to wyraźnie widać
        np. Polska albo stany
    </span>
</div>


</div>
</div>
</body>