{% include 'analysis_page/layout.html' %}

<h1>Spatial Interpolation</h1>
<p>The Interpolation tab allows users to explore the smooth spatial evolution of meteorological variables within a chosen country, date, and variable through Kriging Interpolation, revealing refined changes over space.</p>
<hr>

<div class='interpolation-plot'>
    <h3>Kriging Interpolation: Smoother Variable Transition</h3>
    <span>
        Witness the gradual transformation of a meteorological variable within a chosen country, date, and variable through Kriging Interpolation.
        <br><br>
        This visualization offers a refined, smoother portrayal of the variable's evolution across space.
    </span>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country">Select country:</label>
                <select id="country" name="country" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable">Select variable:</label>
                <select id="variable" name="variable" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="date">Select date:</label>
                <select id="date" name="date" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if times %}
                        {% for time in times %}
                            <option value="{{ time.time|date:'d-m-Y H:i' }}">{{ time.time|date:"d-m-Y H:i" }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-1" value="Submit">
        </form>
    </div>

<!--    <p><strong>Selected country:</strong></p>-->
<!--    {% if chosen_country %}-->
<!--        <p>{{ chosen_country.name }}</p>-->
<!--    {% endif %}-->

<!--    <p><strong>Selected variable:</strong></p>-->
<!--    {% if chosen_var %}-->
<!--        <p>{{ chosen_var }}</p>-->
<!--    {% endif %}-->

<!--    <p><strong>Selected date:</strong></p>-->
<!--    {% if chosen_date %}-->
<!--        <p>{{ chosen_date }}</p>-->
<!--    {% endif %}-->

    <div class="plot">
<!--        {% autoescape off %}-->
<!--        {{ gpd_plot|safe }}-->
<!--        {% endautoescape %}-->
        {% if matplotlib_plot %}
            <img src="data:image/png;base64, {{matplotlib_plot|safe}}">
        {% endif %}
    </div>
</div>

</div>
</div>
</body>

