{% include 'analysis_page/layout.html' %}

<!--Custom template tags-->
{% load variable_long_name %}

<script>
const v = document.getElementById('interpolation');
v.style.fontWeight = 550;
</script>

<h1>Spatial Interpolation</h1>
<p>The Interpolation tab allows users to explore the smooth spatial evolution of meteorological variables, revealing refined changes over space.</p>
<hr>

<div class='interpolation-plot'>
    <h3>Kriging Interpolation: Smoother Variable Transition</h3>
    <span>
        Witness the gradual transformation of a meteorological variable within a chosen country, date, and variable through Kriging Interpolation.
    </span>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country">Select country:</label>
                <select id="country" name="country" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable">Select variable:</label>
                <select id="variable" name="variable" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var|long_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="date">Select date:</label>
                <select id="date" name="date" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if times %}
                        {% for time in times %}
                            <option value="{{ time.time|date:'d-m-Y H:i' }}">{{ time.time|date:"d-m-Y H:i" }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input class="submit-button"  type="submit" name="plot-1" value="Submit">
        </form>
    </div>

    <div class="plot">
        {% if interpolation_plot %}
            <img src="data:image/png;base64, {{interpolation_plot|safe}}">
        {% endif %}
    </div>
</div>

</div>
</div>
</body>

