<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Thesis Project | Ewa Pelc</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

        <!--Custom CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'analysis_page.css' %}">
    </head>
<body>
{% include 'stations/navbar.html' %}

<div class="wrapper">

    <div class="menu">
        <ul>
          <li><a href="/analysis">Getting Started</a></li>
          <li><a href="/analysis/timeseries">Timeseries</a></li>
          <li><a href="/analysis/interpolation">Interpolation</a></li>
          <li><a href="/analysis/animation">Animation</a></li>
        </ul>
    </div>

    <div class="content">