<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Thesis Project | Ewa Pelc</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/earth.png' %}" >

        <!--Custom CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'analysis_page4.css' %}">
    </head>
<body>
{% include 'stations/navbar.html' %}

<div class="wrapper">

    <div class="menu">
        <ul>
          <a href="/analysis">Getting Started</a>
          <a href="/analysis/timeseries">Time Series</a>
          <a href="/analysis/animation">Animation</a>
          <a href="/analysis/interpolation">Interpolation</a>
          <a href="/analysis/clustering">Clustering</a>
        </ul>
    </div>

    <div class="content">