{% include 'analysis_page/layout.html' %}

<h1>Time Series</h1>
<p>This tab explores the possibilities of creating time series from the analyzed data.</p>
<hr>

<div class="timeseries-plot">
    <h3>Test</h3>
    <span>
    1. INTERAKTYWNE
    Single-select: wybór zmiennej
    Multiselect: wybór kraju
    wybór kolorów z jakiegoś color picker
    wybór zakresu dat - domyślnie dla całości

    to wszystko na wykresie timeseries
    legenda kolorów, tytuł, tytuły osi są dynamiczne


    pod spodem wyświetlają się jakieś statystyki
    porównawcze
    </span>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country">Country</label>
                <select id="country" name="country[]" multiple required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable">Variable</label>
                <select id="variable" name="variable" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-1" value="Submit">
        </form>
    </div>

    <p><strong>Selected countries:</strong></p>
    {% if chosen_countries %}
        {% for country in chosen_countries %}
            <p>{{ country.name }}</p>
        {% endfor %}
    {% endif %}

    <p><strong>Selected variable:</strong></p>
    {% if chosen_var %}
        <p>{{ chosen_var }}</p>
    {% endif %}


    <div class="plot">
        {% autoescape off %}
        {{ timeseries1|safe }}
        {% endautoescape %}
    </div>
</div>

<div class="timeseries-plot">
    <h3>Test</h3>
    <span>
        2.
        zestawienie dla wszystkich
        prowincji w wybranym przez użytkownika kraju
    </span>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country2">Country</label>
                <select id="country2" name="country2" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable2">Variable</label>
                <select id="variable2" name="variable2" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-2" value="Submit">
        </form>
    </div>

    <p><strong>Selected country:</strong></p>
    {% if chosen_country2 %}
        <p>{{ chosen_country2.name }}</p>
    {% endif %}

    <p><strong>Selected variable:</strong></p>
    {% if chosen_var2 %}
        <p>{{ chosen_var2 }}</p>
    {% endif %}

<!--    {% if regions %}-->
<!--        {% for r in regions %}-->
<!--            <p>{{ r.name}}, {{ r.type }}</p>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->

<!--    {% if x %}-->
<!--        {% for item in x %}-->
<!--            <p>{{ item.region }}</p>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->

        <div class="plot">
        {% autoescape off %}
        {{ timeseries2|safe }}
        {% endautoescape %}
    </div>

</div>


<div class="timeseries-plot">
    <h3>Test</h3>
    <span>
    5.
    Zestawienie ze sobą zmiennych temperatura i wilgotność -  WYBÓR KRAJU
    </span>
        <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country5">Country</label>
                <select id="country5" name="country5" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-5" value="Submit">
        </form>
    </div>

    <p><strong>Selected country:</strong></p>
    {% if chosen_country5 %}
        <p>{{ chosen_country5.name }}</p>
    {% endif %}

    <div class="plot">
        {% autoescape off %}
        {{ timeseries5|safe }}
        {% endautoescape %}
    </div>
</div>


</div>
</div>
</body>