{% include 'analysis_page/layout.html' %}

<h1>Time Series</h1>
<p>
The Time Series tab empowers users to select countries and variables, generating custom time series plots that vividly depict the evolution of chosen meteorological variables over time.</p>
<hr>

<div class="timeseries-plot">
    <h3>Time Series Comparison: Variable Across Countries</h3>
    <span>
        Explore how meteorological variables vary across different countries within a fixed date range.
    </span>
    <div class="info">
        <p><strong>Please note:</strong> you can select multiple countries from the dropdown list.</p>
    </div>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country">Select countries:</label>
                <select id="country" name="country[]" multiple required >
<!--                    <option selected disabled style="display:none;" value="">Select...</option>-->
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable">Select variable:</label>
                <select id="variable" name="variable" required>
                    <option selected disabled style="display:none;" value=""></option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-1" value="Submit">
        </form>

        <!--js library for multiselect-->
        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
        <script>
            new MultiSelectTag('country')  // id
        </script>
    </div>


    <div class="plot">
        {% autoescape off %}
        {{ timeseries1|safe }}
        {% endautoescape %}
    </div>
</div>


<div class="timeseries-plot">
    <h3>Time Series Comparison: Variable Across Regions</h3>
    <span>
        Explore how meteorological variables vary across different regions (provinces) of a selected country within a fixed date range.
    </span>
    <div class="info">
        <p><strong>Please note:</strong> <i>Plotly</i> chart allows you to <b>hover over data points</b> for detailed insights and seamlessly <b>select specific date ranges.</b> <br><br>To return to the original plot, simply refresh the page or utilize the <b>"Autoscale" button</b> conveniently located on the chart interface.</p>
    </div>

    <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country2">Select country:</label>
                <select id="country2" name="country2" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="user-input">
                <label for="variable2">Select variable:</label>
                <select id="variable2" name="variable2" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if variables %}
                        {% for var in variables %}
                            <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-2" value="Submit">
        </form>
    </div>

    <div class="plot">
        {% autoescape off %}
        {{ timeseries2|safe }}
        {% endautoescape %}
    </div>

</div>


<div class="timeseries-plot">
 <h3>Time Series Comparison: Variables in Selected Country</h3>
    <span>
        Explore the dynamic interplay of meteorological variables within a chosen country and fixed date range.
    </span>
    <div class="info">
        <p><strong>Please note:</strong> you can select multiple variables from the dropdown list.</p>
    </div>

        <div class="form">
        <form method="post">
        {% csrf_token %}
            <div class="user-input">
                <label for="country5">Select country:</label>
                <select id="country5" name="country5" required>
                    <option selected disabled style="display:none;" value="">Select...</option>
                    {% if countries %}
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <input type="submit" name="plot-5" value="Submit">
        </form>
    </div>


    <div class="plot">
        {% autoescape off %}
        {{ timeseries5|safe }}
        {% endautoescape %}
    </div>
</div>


</div>
</div>
</body>