@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*comment background-color*/
.wrapper {
    margin: 150px 200px;
    /*background-color: #D3D3D3;*/
}

h1 {
    padding-bottom: 70px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/*comment this*/

.menu {
  border: 3px solid black;
  border-radius: 15px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  /*background-color: #fff;*/
}

.content, .menu {
  padding: 15px;
}

.content {
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

.menu {
  width: 17%;
  height: 30vh;
}


.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu ul a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  margin: 0 0 1em .5em;
  padding: 4px 8px;
}

.menu ul a:hover {
    background-color: rgba(0,138,230, 0.1);
    border-radius: 4px;
    color: blue;
}

.timeseries-plot {
    padding-bottom: 50px;
}
