/* Side panel: https://codepen.io/dcode-software/pen/OJxEWWz  */

body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.folium_map {
    flex-grow: 1;
    /*padding: 20px;*/
}

.side {
    position: relative;
    display: flex;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: #ffffff;
    background: #D3D3D3;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;

    position: absolute;
    left: -40px;
    top: 0px;

    z-index: auto;

}

.side-panel-toggle:hover {
    background: #5A5A5A;

}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    display: none;
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #D3D3D3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    z-index: 1;

    overflow-y: auto;

}

.side-panel-open .side-panel {
    display: initial;

}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}


/*---------------------------------*/

select  {
    width: 250px;
}

#form-meteo input {
    float: left;
}

#form-meteo label {
    float: left;
}

#form-meteo label + input {
    clear: both;
}

/*----------------------------------------*/

#plot-div {
  position: fixed;
  left: 15%;
  bottom: 100px;
  width: 900px;
  height: 150px;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;

  cursor: move;
}

#plot-div-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


#plot-btn {
    z-index: 9;
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

