@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans" , sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.1;
}

navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(227,232,237,1.00);
    background-color: #fff;
    color: #344563;
}

navbar ul {
    position: relative;
    margin-left: 50px;
}


navbar ul a {
    text-align: left;
    display: inline-block;
    margin: 0 4em 0 0;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    padding: 4px 8px;
}

navbar ul a:hover:not(:first-child) {
    background-color: rgba(0,138,230, 0.1);
    border-radius: 4px;
    color: blue;
}


.navbar-img {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    padding: 0;
    vertical-align: middle;
}

