navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    box-shadow: 0 .1em .4em rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #344563;
}

navbar ul {
    position: relative;
    margin-left: 200px;
}


navbar ul a {
    text-align: left;
    display: inline-block;
    margin: 0 2em 0 0;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 4px 8px;
}

navbar ul a:hover {
    background-color: rgba(0,138,230, 0.1);
    border-radius: 4px;
    color: blue;
}

.navbar-img {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    padding: 0;
    vertical-align: middle;
}

