<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Thesis Project | Ewa Pelc</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

        <!--Custom CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'homepage.css' %}">
    </head>
<body>
{% include 'stations/navbar.html' %}

    <div>
        <a href="/map">Interactive map</a>
    </div>

    <div>
        <a href="/analysis">Analysis page</a>
    </div>

</body>
</html>
