<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Thesis Project | Ewa Pelc</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/world-favicon.png' %}" >

        <!--Google icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Custom CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'map_page1.css' %}">

        <!--Custom template tags-->
        {% load variable_long_name %}

    </head>
<body>
{% include 'stations/navbar_map.html' %}


    <div class="wrapper">
        <div class="row">
            <div class="folium-map">
                {{ map|safe }}
            </div>

            <div class="plot-div" style="border: 1px solid blue">
                {% autoescape off %}
                {{ plot_div|safe }}
                {% endautoescape %}
            </div>
        </div>

        <!--Side Panel-->
        <div class="side-panel">
            <div>
               {% if selected_country %}
                <p><strong>Country: {{ selected_country.name }}</strong></p>
                {% endif %}

               {% if selected_var %}
                <p>Variable: {{ selected_var }}</p>
                {% endif %}

               {% if selected_date %}
                <p>Date and time: {{ selected_date }} </p>
                {% endif %}

               {% if selected_type %}
                <p>Type: {{ selected_type }}</p>
                {% endif %}

                {% if points_count %}
                <p>Num of points: {{ points_count }}</p>
                {% endif %}

            </div>
            <hr>

            <!--User selection-->
            <div style="height: 100px;" >
                <form method="post">
                    {% csrf_token %}

                    <div class="user-input">
                        <label for="visual_type">Visualization method</label>
                        <select id="visual_type" name="visual_type" required>
                            <option selected disabled style="display:none;" value="">Select...</option>
                            <option value="points">Points</option>
                            <option value="choropleth">Choropleth</option>
                        </select>
                    </div>
                    <hr>

                    <div class="user-input">
                        <label for="country">Country</label>
                        <select id="country" name="country" required>
                            <option selected disabled style="display:none;" value="">Select...</option>
                            {% if countries %}
                                {% for country in countries %}
                                    <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <hr>

                    <div class="user-input">
                        <label for="date">Date</label>
                        <select id="date" name="date" required>
                            <option selected disabled style="display:none;" value="">Select...</option>
                            {% if times %}
                                {% for time in times %}
                                    <option value="{{ time.time|date:'d-m-Y H:i' }}">{{ time.time|date:"d-m-Y H:i" }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <hr>

                    <div class="user-input">
                        <label for="variable">Select variable:</label>
                        <select id="variable" name="meteo_var" required>
                            <option selected disabled style="display:none;" value=""></option>
                            {% if variables %}
                                {% for var in variables %}
                                    <option value="{{ var }}">{{ var|long_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <hr>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

<!--        </div>-->
    </div>

</body>
</html>
