{% load static %}
<link rel="stylesheet" href="{% static 'navbar_map4.css' %}">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--   </head>-->
<body>
    <input type="checkbox" id="check" class="hide" checked>
    <div class="container">
        <label for="check">
            <i class="bx bx-chevron-left" id="arrow"></i>
        </label>

        <ol class="navbar">
            <li><a href="/"><i class="bx bx-home"></i><p>Home Page</p></a></li>
            <li><a href="/map" id="interactivemap"><i class="bx bx-map"></i><p>Interactive Map Module</p></a></li>
            <li><a href="/analysis"><i class="bx bx-line-chart"></i><p>Data Exploration Module</p></a></li>
        </ol>
    </div>

    <script>
    const v = document.getElementById('interactivemap');
    v.style.fontWeight = 550;
    </script>
</body>
